<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:9989/studs</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.username">s368938</property>
    <property name="hibernate.connection.password">5sG4j6tOx0XjbQMc</property>
     <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="Point.hbm.xml"/>
  </session-factory>
</hibernate-configuration>