.studentInfo {
  font-family: fantasy;
  color: black;
  font-size: large;
}

body {
  background-color: wheat;
}

#coo {
  position: absolute;
  left: 0;
}

canvas {
  position: absolute;
  top: 150px;
  left: 5px;
}

.form {
  position: absolute;
  top: 670px;
  left: 5px;
}
.errorHub {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.message {
  background-color: white;
  position: fixed;
  left: 43%;
  top: 50%;
  color: black;
  border: black 2px solid;
  padding: 20px;
  display: none;
}

.formX {
  margin: 0px 0px 10px 0px;
}

#y {
  margin: 0px 0px 10px 0px;
}

.formR {
  margin: 0px 0px 10px 0px;
}

#tableContainer {
  position: absolute;
  top: 100px;
  left: 560px;
}

span {
  flex: 1 1 20%;
  text-align: center;
  color: black;
}

button.active {
  background-color: #4caf50;
  color: white;
}

.resultTable {
  position: absolute;
  left: 30%;
  margin: 30px auto;
  width: 50%;
}

#tableContainer {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td,
tr {
  text-align: center;
  padding: 8px;
  border: 1px solid;
}

th {
  background-color: wheat;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: wheat;
}

.left-border {
  border-left: 1px solid;
}
